{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <main class="container">
    <h2>History of Pizza Lair</h2>
    <p>Pizza Lair was founded by four friends working on a school project in May 2023. The pizza place has taken Iceland by a storm and is on the way of becoming one of the most loved and desired pizza places in the country. </p>
    <h2>Policies</h2>
    <p>
        <ul>
            <li>Make delicious pizzas</li>
            <li>Reasonable prices</li>
            <li>We only use products of the highest quality</li>
            <li>Great staff</li>
        </ul>
    </p>
    </main>

<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}