{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container">
    <h1>Account Information</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>
    </form>
    <a href="{% url 'view_cart' %}"><button type="button">Back to cart</button></a>
    <a href="{% url 'payment_information' %}" class="btn btn-secondary">Continue to payment</a>

  </div>

    <link rel="stylesheet" href="{% static 'css/account_information.css' %}">

{% endblock %}
