

.menu{

    background-color: green;
}

/* Pizza lair logo on the navbar */
.navbar-brand {
    float: none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

}
/* Logo of the website */
img#website_logo {
    width: 90px;
    height: auto;

    margin: 40px 0px 0px;

}

#carouselExampleCaptions {
  margin-top: 50px;
}


.form-floating{
    margin-top: 50px;


}

/* Border bottom on navbar */
.container-fluid{
  border-bottom: 2px solid #007F5B;
    height: 70px;
}

/* Navbar */
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}



/* Navbar items */
a#menu-item{
    padding-right: 20px;
    font-size: x-large;
}

a#offers-item{
    padding-right: 1200px;
    font-size: x-large;
}

a#account-item{
    padding-right: 20px;
}


/* offer button on homepage */
button#offer-button{
    border-radius: 6px;
    background-color: #007F5B;
    color: white;
    font-weight: bold;
    border-color: #007F5B;
    padding: 1px 20px 1px 20px;
}

ul{
    list-style-type: none;
}




