/* color of the elements inside navbar */
.nav-link {
    color:white;
}




/* Pizza lair logo on the navbar */
.navbar-brand {
    float: none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

}
/* Logo of the website */
img#website_logo {
    width: 90px;
    height: auto;

    margin: 40px 0px 0px;

}

#carouselExampleCaptions {
  margin-top: 50px;
}


.form-floating{
    margin-top: 50px;

}

/* Border bottom on navbar */
.container-fluid{
  border-bottom: 2px solid #007F5B;
    height: 70px;
}

/* Navbar */
.bg-body-tertiary {
    background-color: #007F5B!important;
    --bs-bg-opacity: 0;

}

.right-nav{
    margin-left: auto;
}


.left-nav{
    margin-right: auto;
}


/* Navbar items */
a#menu-item{
    padding-right: 20px;
    font-size: x-large;
}

a#offers-item{
    padding-right: 20px;
    font-size: x-large;
}

a#account-item{
    padding-right: 20px;
}




/* footer */
.my-4 {
    margin-bottom:0 !important;
}

.border-top {
    border-top: 2px solid #007F5B !important;
}





/* offer button on homepage */
button#offer-button{
    border-radius: 6px;
    background-color: #007F5B;
    color: white;
    font-weight: bold;
    border-color: #007F5B;
    padding: 1px 20px 1px 20px;
}

.hidden {
    display: none !important;
}


ul{
    list-style-type: none;
}


.well-product {
    display: flex;
    display: inline-block;
    width: 20%;
    margin-top: 30px;
    margin-right: 30px;
    border: 2px solid black;
    background-color: beige;
}


.img-id {
    height: 200px;
    width: 100%;
}

.products {
    display: flex;

}

body {
    background-color: #E3E7E8;
    font-family: system-ui;

}

.container-cart {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping svg{
    width: 40px;
}

header .shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card {
    position: fixed;
    top: 0px;
    left: 100%;
    background-color: black;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


body {
    background-color: #E3E7E8;
    font-family: system-ui;

}

.container-cart {
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

header {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}

header .shopping {
    position: relative;
    text-align: right;
}

header .shopping svg{
    width: 40px;
}

header .shopping span{
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}

.card {
    position: fixed;
    top: 0px;
    left: 100%;
    background-color: black;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkout{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.card.checkout{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.card .checkout div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}

.active .card{
    left: calc(100% - 500px);
}


.active .container-cart{
    transform: translateX(-200px);
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  margin-top: 4px;
  color: white;
  padding: 2px;
  font-size: 24px;
  border: none;
  width: 120px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
    padding-right: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #007F5B;
    border-radius: 10px;
    color: black;
    border: solid 3px #004c36;

}


body {
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.footer-container{
    position: sticky;
    bottom: 0;

}

/* Profile img  */
.profile-image {
    vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.carousel-control-next-icon {
    background-color: grey;
    border-radius: 40%;
}

.carousel-control-prev-icon {
    background-color: grey;
    border-radius: 40%;

}

.carousel-indicators  {
    background-color: grey;
    width: 130px;
    border-radius: 5%;
    margin: auto;

}
