

.menu{

    background-color: green;
}
.navbar-brand {
    float: none;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

}

img#website_logo {
    width: 90px;
    height: auto;
    margin: 40px 0px 0px;

}

#carouselExampleCaptions {
  margin-top: 50px;
}


.form-floating{
    margin-top: 50px;

}


.container-fluid{
  border-bottom: 2px solid #007F5B;
    height: 70px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 0;

}

ul#account-cart{
    float: right;
    margin-left: 1150px;
}


a#account-item{
    padding-right: 20px;
}

a#menu-item{
    padding-right: 20px;
    font-size: x-large;
}

a#offers-item{
    padding-right: 20px;
    font-size: x-large;
}

button#offer-button{
    border-radius: 6px;
    background-color: #007F5B;
    color: white;
    font-weight: bold;
    border-color: #007F5B;
    padding: 1px 20px 1px 20px;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;

}


