
.product-detail img {
    width: 40%;
    height: 40%;
}
.product-detail {
    padding-top: 10px;
    float: left;
    width: 50%;
}
.price {
    padding-top: 60px;
    padding-bottom: 350px;

}

#cost {
    font-size: 20px;
    font-weight: bold;
    color: #007F5B;
    position: relative;
    top:60px;

}

#cart-button {
    position: relative;
    top: 50px;
    background-color: #007F5B;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}