.container {
    width: 50%;
    background-color: white;
    margin-top: 60px;
    margin-bottom: 310px;
    border: #007F5B 3px solid;
    border-radius: 8px;
}

form.form-horizontal {
    display: flex;
    flex-direction: column;
    gap: 1px;

}

.btn {
    margin-bottom: 20px;
    background-color: #007F5B;
}

label {
    font-weight: bold;
}