{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="offers">


  <div class="offer-grid">
    {% for offer in offers %}
    <div class="offer-item" >

        <img src="{{ offer.image }}" alt="{{ offer.name }}"/>
      <div class="offer-content">
        <h3>{{ offer.name }}</h3>
        <p1>{{ offer.description }}</p1>
        <button class="order-now" onclick="selectOffer('{{ offer.id }}')">{{ offer.price }} kr.</button>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<link rel="stylesheet" href="{% static 'css/offers.css' %}" />

{% endblock %}
