{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <main class="container">
    <div class="Heading_container">
        <h1 class="heading_title">
            <span class>Locations</span>
        </h1>
    </div>
    <ul class="locations_grid">
        <li>
            <div class="locations_location">
                <p class="location_street">Bankastræti 5</p>
                <p class="location_city">101 Reykjavík</p>

            <div class="opening_hours">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-clock" viewBox="0 0 16 16" >
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                <p>
                    SUN - THU: 11:30 - 22:00
                    <br>
                    FRI - SAT: 11:30 - 00:00
                </p>
            </div>
            </div>
        </li>
         <li>
            <div class="locations_location">
                <p class="location_street">Faxafen 9</p>
                <p class="location_city">108 Reykjavík</p>

            <div class="opening_hours">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-clock" viewBox="0 0 16 16" >
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                <p>
                    SUN - THU: 11:30 - 22:00
                    <br>
                    FRI - SAT: 11:30 - 00:00
                </p>
            </div>
            </div>
        </li>
         <li>
            <div class="locations_location">
                <p class="location_street">Smiðsbúð 9</p>
                <p class="location_city">210 Garðabær</p>

            <div class="opening_hours">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-clock" viewBox="0 0 16 16" >
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                <p>
                    SUN - THU: 11:30 - 22:00
                    <br>
                    FRI - SAT: 11:30 - 00:00
                </p>
            </div>
            </div>
        </li>
         <li>
            <div class="locations_location">
                <p class="location_street">Strandgata 49</p>
                <p class="location_city">220 Hafnafjörður</p>

            <div class="opening_hours">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-clock" viewBox="0 0 16 16" >
  <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
</svg>
                <p>
                    SUN - THU: 11:30 - 22:00
                    <br>
                    FRI - SAT: 11:30 - 00:00
                </p>
            </div>
            </div>
        </li>

    </ul>
    </main>


<link rel="stylesheet" href="{% static 'css/locations.css' %}">
{% endblock %}